<style type="text/css" media="screen">
    .gr_grid_container {
        /* customize grid container div here. eg: width: 500px; */
    }

    .gr_grid_book_container {
        /* customize book cover container div here */
        float: left;
        width: 98px;
        height: 160px;
        padding: 0px 0px;
        overflow: hidden;
    }
</style>
<div id="gr_grid_widget_1668535365">
    <!-- Show static html as a placeholder in case js is not enabled - javascript include will override this if things work -->
    <div class="gr_grid_container">
        <div class="gr_grid_book_container"><a title="Python Data Science Handbook: Tools and Techniques for Developers"
                rel="nofollow" href="https://www.goodreads.com/book/show/26457146-python-data-science-handbook"><img
                    alt="Python Data Science Handbook: Tools and Techniques for Developers" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1481029785l/26457146._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="97 Things Every Data Engineer Should Know" rel="nofollow"
                href="https://www.goodreads.com/book/show/56916802-97-things-every-data-engineer-should-know"><img
                    alt="97 Things Every Data Engineer Should Know" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1623668932l/56916802._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="The Man's Guide to Corporate Culture: A Practical Guide to the New Normal and Relating to Female Coworkers in the Modern Workplace"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/52611587-the-man-s-guide-to-corporate-culture"><img
                    alt="The Man's Guide to Corporate Culture: A Practical Guide to the New Normal and Relating to Female Coworkers in the Modern Workplace"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1607300018l/52611587._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="A Brief History of Phoenix" rel="nofollow"
                href="https://www.goodreads.com/book/show/28465841-a-brief-history-of-phoenix"><img
                    alt="A Brief History of Phoenix" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1452098217l/28465841._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a title="How Charts Lie: Getting Smarter about Visual Information"
                rel="nofollow" href="https://www.goodreads.com/book/show/50489299-how-charts-lie"><img
                    alt="How Charts Lie: Getting Smarter about Visual Information" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1593186693l/50489299._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="Into the Never: Nine Inch Nails and the Creation of the Downward Spiral" rel="nofollow"
                href="https://www.goodreads.com/book/show/44902202-into-the-never"><img
                    alt="Into the Never: Nine Inch Nails and the Creation of the Downward Spiral" border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1582086589l/44902202._SX98_.jpg" /></a>
        </div>
        <div class="gr_grid_book_container"><a
                title="The Wasp That Brainwashed the Caterpillar: Evolution's Most Unbelievable Solutions to Life's Biggest Problems"
                rel="nofollow"
                href="https://www.goodreads.com/book/show/29429877-the-wasp-that-brainwashed-the-caterpillar"><img
                    alt="The Wasp That Brainwashed the Caterpillar: Evolution's Most Unbelievable Solutions to Life's Biggest Problems"
                    border="0"
                    src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1469403765l/29429877._SX98_.jpg" /></a>
        </div>
        <noscript><br />Share <a rel="nofollow" href="/">book reviews</a> and ratings with Kevin, and even join a <a
                rel="nofollow" href="/group">book club</a> on Goodreads.</noscript>
    </div>

</div>
<script
    src="https://www.goodreads.com/review/grid_widget/22576651.Kevin's%20read%20book%20montage?cover_size=medium&hide_link=true&hide_title=true&num_books=7&order=d&shelf=read&sort=date_read&widget_id=1668535365"
    type="text/javascript" charset="utf-8"></script>

<br><br><br><br><br>